<div class="row marketing">
    <h4><b>About me</b></h4>
    <p>
        <b><i>Full stack developer having experience of around 5 years. Passionate for developing high performance application using cutting edge technology.</i></b>
    </p>
    <br>
    <p>
       My social accounts:
    </p>
    <ul>
    <li><b><a href="https://github.com/sushantgadi" target="_blank">https://github.com/sushantgadi</a></b></li>		
    <li><b><a href="https://in.linkedin.com/in/sushantkumargadi" target="_blank">https://in.linkedin.com/in/sushantkumargadi</a></b></li>	
    <li><b><a href="https://www.facebook.com/sushant.gadi" target="_blank">https://www.facebook.com/sushant.gadi</a></b></li>
     <li><b><a href="https://twitter.com/sushantgadi" target="_blank">https://twitter.com/sushantgadi</a></b></li>
    </ul>	
<br>   
<p>
    My Resume :
<a href="https://drive.google.com/file/d/0B2ZdEcvgDIqIazl3WUN4SmN1T1E/view?usp=sharing" target="_blank"><b>View My Resume</b></a>
</p>
</div>
