<div class="row marketing">
    Share this blog :
    <div class="fb-share-button" data-href="http://sushantgadi.in/#!/maven-build-profiles" data-layout="button_count" data-size="small"
        data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsushantgadi.in%2F%23%21%2Fmaven-build-profiles&amp;src=sdkpreparse">Share</a>
    </div>
    <h1>
        <b>Functional Reactive Programming</b>
    </h1>
    <br/>
    <p>
        You might have heard of this term <strong>“functional reactive programming” or FRP</strong> quiet often these days, but you may wonder what it exactly
        is.
    </p>
    <p>
        I have gone through number of definition for reactive programming.Let me give you 
        the crux of FRP in few words:
    </p>
    <p>
       <strong> “Functional Reactive Programming is a programming technique with asynchronous data streams”</strong>
    </p>
    <p>
    Let’s relate the above definition with the real world to make it simpler:
    </p>
    <p>
    Gone are the days when web pages were meant to perform simple UI rendering task and submitting the long tedious forms to the backend. These days the webapps and mobile apps are quiet real time, for eg. You can see lot of action happening on the screen when scrolling the page, may be its data loading event or triggering some other events on the screen.
    </p> 
    <p>
    In order to make the apps real time we need a programming technique, there comes the functional reactive programming into picture.    
    </p>   
   
    <br>
    <p>
        The config.properties for dev and prod contains the required properties. For example the properties for jdbc in datsource.properties
        :
    </p>
  
    <br>
    <p>
        The original datasource.properties will be as follows :
    </p>
  

    <p>
        Refer to my Git repository for the complete code
        <br>
        <a href="https://github.com/sushantgadi/build-profiles" target="_blank">https://github.com/sushantgadi/build-profiles</a>
    </p>
    <br>
    <p>Read Next Blog -
        <a ng-href="#!/rest-template-proxy" ng-click="srollup()">Rest Template Proxy</a>
    </p>
    <div class="fb-comments" data-href="http://sushantgadi.in/#!/maven-build-profiles" data-numposts="5"></div>
</div>